<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      LOGRO C
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">LOGRO C</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="floating">Ingrese un nombre</ion-label>
    <ion-input [(ngModel)]="nuevoNombre"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="agregarNombre()">Agregar</ion-button>
  
  <ion-list>
    <ion-item *ngFor="let nombre of nombres">{{ nombre }}</ion-item>
  </ion-list>

 
</ion-content>
